<!DOCTYPE html>
<html>
<head>
    <title>Internship Form</title>
</head>
<body>
    <h2>Internship Submission Form</h2>
    <form action="/adddata" method="get">
        Student ID: <input type="text" name="sid" required><br>
        Name: <input type="text" name="name" required><br>
        Company: <input type="text" name="company" required><br>
        Duration: <input type="text" name="dur" required><br>
        Status: <input type="text" name="status" required><br>
        <button type="submit">Submit</button>
    </form>
    <a href="/viewall">ALL</a>
    <a href="/findpart">particular</a>
</body>
</html>
